/target
/perf.data*
/flame*
/examples/crispr
/data
*.ipynb
*.png
__pycache__
*.so
*.dylib
*.dSYM/
c/sassy_example
/evals/src/sassy2/output/*
/evals/src/sassy2/figs/*
/evals/src/sassy1/output/*
/evals/src/sassy1/figs/*
/evals/src/sassy2/data/downloaded/*
python/sassy/__init__.pyi
/r/benchmarks/results/
/r/benchmarks/benchmark-r-bindings.html
*.tar.gz
*.Rcheck/
